<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="hostPlan">
    <template id="hostPlan">
        <div class="right-pane" style="display: flex;padding: 18px;  flex-direction: column;">
            <el-scrollbar style="width: 100%; flex: 1; overflow-x:hidden;">

                <div class="hostplan">
                    <div class="card" v-for="(host,index) of hosts" :key="index">
                        <div class="base-info">
                            <div class="item">
                                <span class="host-name-label">主机名</span>
                                <span class="host-name">{{host.name}}</span>
                            </div>

                            <div class="item">
                                <span class="host-name-label">IP</span>
                                <span class="ip-info">{{host.ip}}</span>
                            </div>
                        </div>

                        <div style="flex: 1; padding-left: 8px;">
                            <div class="item" style="display: flex; height: 100%; flex-direction: column;">
                                <span class="dev-module-label">部署的模块</span>
                                <div style="display: flex; flex-wrap: wrap; height: 100%;"
                                     class="dev-application">
                                    <span  v-for="(name,index) of host.deployModuleNames">
                                        <el-tooltip
                                                v-if="deployModuleNamesMap[name] && deployModuleNamesMap[name].description"
                                                effect="light"
                                                :content="deployModuleNamesMap[name].description"
                                                placement="top">
                                            <el-tag closable :key="index"
                                                    @close="delDelDeployModules(host, name)">
                                                <img style="width: 20px; height: 20px;" :src="getSvgPathBys(name)"/><span
                                                    style="vertical-align: super;">&nbsp;{{ name }}</span>
                                            </el-tag>
                                        </el-tooltip>
                                        <el-tag v-else closable :key="index" @close="delDelDeployModules(host, name)">
                                           <img style="width: 20px; height: 20px;" :src="getSvgPathBys(name)"/>
                                           <span style="vertical-align: super;">&nbsp;{{ name }}</span>
                                        </el-tag>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <el-dropdown size="medium" placement="bottom-start" @command="val=>hostOper(val, host)">
							<span class="dropdown-btn" @click.stop="">
								<i class="iconfont icon-more"></i>
							</span>

							<template #dropdown>
								<el-dropdown-menu>
	                                <el-dropdown-item command="edit">
	                                	<el-icon><Edit /></el-icon>编辑
	                                </el-dropdown-item>
	                                <el-dropdown-item command="delete" style="color: red;">
	                                	<el-icon><Delete /></el-icon>删除
	                                </el-dropdown-item>
	                            </el-dropdown-menu>
							</template>

                        </el-dropdown>
                    </div>

                    <div class="card" @click="addHostNode"
                         style="display: flex; cursor: pointer; justify-content: center; align-items: center">
                        <i style="font-size: 26px; margin-right: 4px;" class="el-icon-circle-plus-outline"></i>
                        添加主机节点
                    </div>
                </div>

                <transition name="el-fade-in">
                    <span v-show="loading" class="section" style="top: 14px; background-color: white;"><span
                            class="loading"></span></span>
                </transition>

            </el-scrollbar>


            <el-dialog v-model="dialogVisible" width="600px" class="add-host-dialog" destroy-on-close :close-on-click-modal="false"
                       :close-on-press-escape="false">
                <template #title>
	                <div class="dialog-title">
	                    <span>{{ form.oldHostName ? '编辑' : '添加' }}主机节点</span>
	                </div>
                </template>

                <el-form ref="refForm" :model="form" :rules="rules" label-width="100px"
                         style="margin: 20px 20px 20px 0;">

                    <el-row :gutter="22" style="display: flex; flex-wrap: wrap;">
                        <el-col :span="12" style="padding-right: 0px;">
                            <el-form-item label="主机IP" prop="ip">
                                <el-input v-model="form.ip" clearable style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :span="12" style="padding-left: 0px;">
                            <el-form-item label="端口" prop="sailPyInstallerPort" label-width="80px">
                                <el-input v-model="form.sailPyInstallerPort" clearable v-limit-input-int style="width: 170px;"></el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :span="12" style="padding-right: 0px;">
                            <el-form-item label="主机名" prop="name">
                                <el-input v-model="form.name" clearable style="width: 100%;"></el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :span="12" style="padding-left: 0px;">
                            <el-form-item label="序号" prop="seq" label-width="80px">
                                <el-input @input="handleInputSeq" v-model="form.seq" style="width: 170px;" v-limit-input-int clearable></el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :span="12" style="padding-right: 0px;">
                            <el-form-item label="管理员用户" prop="adminUser">
                                <el-input v-model="form.adminUser" clearable style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :span="12" style="padding-left: 0px; position: relative;">
                            <el-form-item label="密码" prop="adminPswd" label-width="80px">
                                <el-input v-model="form.adminPswd" show-password style="width: 170px;"></el-input>
                            </el-form-item>
                            <el-link @click="checkAdminUserAndPwd" style="font-size: 13px; color: #409EFF; position: absolute; right: -5px; top: 7px;">验证</el-link>
                        </el-col>

                        <el-col :span="12" style="padding-right: 0px;">
                            <el-form-item label="平台用户" prop="sysUser">
                                <el-input v-model="form.sysUser" clearable style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>

                        <el-col :span="12" style="padding-left: 0px;">
                            <el-form-item label="密码" prop="sysPswd" label-width="80px">
                                <el-input v-model="form.sysPswd" show-password style="width: 170px;"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24" style="margin-bottom: -16px;">
                            <el-form-item label="部署应用">
                                <el-select v-model="form.deployModuleNames" multiple placeholder="请选择"
                                           style="width: 420px;" @change="handleChangeDepModuleNames">
                                    <el-option v-for="(item, index) of deployModuleNames" :key="index" :value="item.name">
                                    	<img style="width: 20px; height: 20px;" :src="getSvgPathBys(item.name)"/>
                            			<span style="vertical-align: super;">&nbsp;{{ item.name }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>

                <template #footer>
                    <el-button @click="dialogVisible=false">取 消</el-button>
                    <el-button type="primary" @click="submit" :loading="opering">{{opering ? '提交中...' : '确 定'}}
                    </el-button>
                </template>

            </el-dialog>

        </div>
    </template>
    <script>
        const HostPlan = {
            template: "#hostPlan",

            setup() {

            	const { proxy } = getCurrentInstance();

            	// 自定义校验规则
            	const validateIp = (rule, value, callback) => {
			        if (!value) {
			          callback(new Error('请输入主机IP'));
			        } else {
			        	const ipv4Pattern = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;

			        	if (!ipv4Pattern.test(value)) {
			        		callback(new Error('请输入正确的IP'));
			        	} else {
			        		if (!proxy.form.seq || !proxy.useEditSeq) {
			        			proxy.form.seq = value.split('.')[3];
			        			// 清除seq的校验提示
								proxy.refForm.validateField('seq');
			        		}
			        		callback();
			        	}
			        }
            	};

            	const validateSeq = (rule, value, callback) => {
            		if (!value) {
            			callback(new Error('请输入序号'));
            		} else {
            			if (parseInt(value) <= 0 || parseInt(value) > 255) {
            				callback(new Error('序号的取值范围是[1,255]'));
            			} else {
            				callback();
            			}
            		}
            	};

            	const data = reactive({
                    hosts: [],

                    dialogVisible: false,
                    opering: false,
                    loading: false,
                    form: {},

                    rules: {
                    	ip: [{ required: true, validator: validateIp, trigger: ['blur', 'change']}],
                    	name: [{ required: true, message: '请输入主机名', trigger: 'blur' }],
                    	adminUser: [{ required: true, message: '请输入管理员用户', trigger: 'blur' }],
                    	adminPswd: [{ required: true, message: '请输入管理员密码', trigger: 'blur'}],
                    	sysUser: [{ required: true, message: '请输入平台用户', trigger: 'blur'}],
                    	sysPswd: [{ required: true, message: '请输入平台用户密码', trigger: 'blur'}],
                    	seq: [{ required: true, validator: validateSeq, trigger: 'blur'}],
                    	sailPyInstallerPort: [{ required: true, message: '请输入服务端口', trigger: 'blur'}]
                    },

                    deployModuleNames: [],

                    // 模块名称与其详细信息映射关系
                    deployModuleNamesMap: {},

                    refForm: null,

                    useEditSeq: false
            	});

            	// 获取公钥并且将密码进行加密
            	const encrypPwd = (password, callback) => {
		     		axios.get('common/security/rsa-publickey').then(res=>{
		     			const key = new RSAUtils.getKeyPair(res.data.publicKeyExponent, '', res.data.publicKeyModulus);
		     			let pwd = password.split("").reverse().join("");
					 	const encrypedPwd = RSAUtils.encryptedString(key, pwd);
					 	callback(res.data.codeId, encrypedPwd);
					}).catch(error=>{
						console.error(error);
						proxy.error('获取公钥发生了错误');
					});
            	}

            	// 验证管理员用户名和密码
            	const checkAdminUserAndPwd = () => {
                    const validateFields = ['adminUser', 'adminPswd', 'ip', 'sailPyInstallerPort'];

                    const promises = validateFields.map(field => data.refForm.validateField(field));

                   	Promise.all(promises).then(() => {
                        encrypPwd(data.form.adminPswd, (codeId, encrypedPwd) => {
                        	const formData = new FormData();
                        	formData.append('ip', data.form.ip);
                        	formData.append('port', data.form.sailPyInstallerPort);
                        	formData.append('username', data.form.adminUser);
                        	formData.append('codeId', codeId);
                        	formData.append('password', encrypedPwd);

                        	axios.post('sysPlan/host/user_pswd/_validate', formData).then(res => {
                        		if (res.data.ok) {
                        			proxy.success(res.data.msg);
                        		} else {
                        			proxy.error(res.data.msg);
                        		}
                        	}).catch(error => {
                        		console.error(error);
                        		proxy.error('验证用户名和密码过程中发生了错误');
                        	});
                    	});
                    }).catch(()=>{});
            	}

            	// 当用户自己编辑序号的时候，标识采用用户自己编辑的
            	const handleInputSeq = () => {
            		data.useEditSeq = true;
            	}

            	// 当用户选择的部署模块发生变化时触发
            	const handleChangeDepModuleNames = () => {
            		nextTick(() => {
            			$('.add-host-dialog .el-select__tags-text').each(function(index, element) {

            				const name = $(element).text();

            			    const src = proxy.getSvgPathBys(name);

            			    $(element).html(`<img style="width: 20px; height: 20px;" src="${src}"/> <span style="vertical-align: super;"> ${name} </span>`)
            			});

            		});
            	}

                // 删除指定的主机指定部署模块
                const delDelDeployModules = (host, moduleName) => {
                	ElementPlus.ElMessageBox.confirm(`确定要删除主机${host.name}部署模块【${moduleName}】？`, '确认删除', {
                        dangerouslyUseHTMLString: true,
                        showClose: false,
                        type: 'error',
                        confirmButtonText: '删除',
                        cancelButtonClass: 'concel-right',
                        confirmButtonClass: 'el-button--danger'
                    }).then(_ => {
                        // 调用删除指定主机指定的部署模块

                        axios.delete('sysPlan/host/profile/one/module', {
                        	params: {
                        		hostName: host.name,
                        		module: moduleName
                        	}
                        }).then(_ => {
                        	proxy.success('删除成功');
                        	loadHostProfileAll();
                        }).catch(error => {
                        	proxy.error(`从${host.name}主机删除部署模块【${moduleName}】发生了异常！请联系管理员`)
                        	console.error(error);
                        });

                    }).catch(_ => {
                    });
                }


                // 编辑｜删除操作
                const hostOper = (val, host) => {
                	if (val == 'edit') {
                        editHost(host);
                    } else if(val == 'delete') {
                        delHost(host);
                    }
                }

                // 添加主机节点
                const addHostNode = () => {
                    data.dialogVisible = true;
                    data.form = {
                        deployModuleNames: [],
                        ip: undefined,
                        adminUser: undefined,
                        adminPswd: undefined,
                        sysUser: undefined,
                        sysPswd: undefined,
                        seq: undefined,
                        sailPyInstallerPort: 12205
                    }
                }

                // 编辑主机节点
                const editHost = host => {
                    data.form = proxy.clone(host);
                    data.dialogVisible = true;
                    data.useEditSeq = false;
                    data.form.oldHostName = data.form.name;
                    handleChangeDepModuleNames();
                }

                // 删除主机节点
                const delHost = ({name}) => {
                	ElementPlus.ElMessageBox.confirm("确定要删除主机【" + name + "】？", '确认删除', {
                        dangerouslyUseHTMLString: true,
                        showClose: false,
                        type: 'error',
                        confirmButtonText: '删除',
                        cancelButtonClass: 'concel-right',
                        confirmButtonClass: 'el-button--danger'
                    }).then(_ => {
                        axios.delete('sysPlan/host/profile/one', {
                            params: {
                                hostName: name
                            }
                        }).then(res => {
                        	proxy.success('删除成功');
                            loadHostProfileAll();
                        }).catch(error => {
                            console.error(error);
                            proxy.error(`删除主机【${name}】发生了异常！请联系管理员`);
                        });
                    }).catch(error => {
                    	console.error(error);
                    });
                }

                const addHostProfileOne = () => {

                    axios.post('sysPlan/host/profile/one', data.form).then(res => {
                        data.opering = false;
                        data.dialogVisible = false;
                        loadHostProfileAll();
                        proxy.success('成功添加主机节点【' + data.form.name + '】');
                    }).catch(error => {
                        data.opering = false;
                        console.error(error);
                        proxy.error(`添加主机节点【${data.form.name}】发生了异常！请联系管理员`);
                    });
                }

                // 更新指定主机名的一个主机信息。前端需要注意，如果用户修改了主机名，需要先调用删除操作，再调用创建操作
                const updateHostProfileOne = () => {
                	axios({
                		url: 'sysPlan/host/profile/one/_update',
                		method: 'put',
                		data: data.form,
                		params: {
                			oldHostName: data.form.oldHostName
                		}
                	}).then(res => {
                		data.dialogVisible = false;
                		data.opering = false;
                        loadHostProfileAll();
                        proxy.success('修改成功');
                	}).catch(error => {
                		data.opering = false;
                        console.error(error);
                        proxy.error(`修改主机信息发生了异常！请联系管理员`);
                	});
                }

                // 确认新增主机节点
                const submit = () => {
                	 data.refForm.validate((valid) => {
                		if (valid) {
                			if (data.form.oldHostName) {
                				// 更新操作
                				updateHostProfileOne();
                			} else {
                				// 添加操作
                				addHostProfileOne();
                			}
                            data.opering = true;

                		} else {
                			return false;
                		}
                	});
                }

                // 加载所有主机信息
                const loadHostProfileAll = () => {
                    data.loading = true;
                    axios.get('/sysPlan/host/profile/all').then(res => {
                        data.loading = false;
                        data.hosts = res.data;
                    }).catch(error => {
                        data.loading = false;
                        console.error(error);
                        proxy.error('加载所有主机信息发生了异常！请联系管理员');
                    })
                }

                // 加载取得所有模块
                const loadModuleAll = () => {
                	axios.get('sysPlan/module/all').then(res => {
                		data.deployModuleNames = res.data;

                        data.deployModuleNamesMap = {};

                        data.deployModuleNames.forEach(item => {
                            data.deployModuleNamesMap[item.name] = item;
                        });
                        loadHostProfileAll();
                	}).catch(error => {
                        loadHostProfileAll();
                		console.error(error);
                		proxy.error('加载所有的部署模块发生了异常！请联系管理员');
                	})
                }

                loadModuleAll();

            	return {
            		...toRefs(data),
            		checkAdminUserAndPwd,
            		handleChangeDepModuleNames,
            		submit,
            		handleInputSeq,
            		delDelDeployModules,
            		hostOper,
            		addHostNode
            	}
            }
        }
    </script>
</th:block>
</html>
