<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="hostPlan">
    <template id="hostPlan">
        <div class="right-pane" style="display: flex;padding: 18px;  flex-direction: column;">
            <el-scrollbar style="width: 100%; flex: 1; overflow-x:hidden;">

                <div class="hostplan">
                    <div class="card" v-for="(host,index) of hosts" :key="index">
                        <div class="base-info">
                            <div class="item">
                                <span class="host-name-label">主机名</span>
                                <span class="host-name">{{host.name}}</span>
                            </div>

                            <div class="item">
                                <span class="host-name-label">IP</span>
                                <span class="ip-info">{{host.ip}}</span>
                            </div>
                        </div>

                        <div style="flex: 1; padding-left: 8px;">
                            <div class="item" style="display: flex; height: 100%; flex-direction: column;">
                                <span class="dev-module-label">部署的模块</span>
                                <div style="display: flex; flex-wrap: wrap; height: 100%;"
                                     class="dev-application">
                                    <el-tag v-for="(name,index) of host.deployModuleNames" closable :key="index"
                                            @close="delDelDeployModules(host, name)">
                                        <img style="width: 20px; height: 20px;" :src="getSvgPathBys(name)"/><span
                                            style="vertical-align: super;">&nbsp;{{ name }}</span>
                                    </el-tag>
                                </div>
                            </div>
                        </div>

                        <el-dropdown size="medium" placement="bottom-start" @command="val=>hostOper(val, host)">
							<span class="dropdown-btn" @click.stop="">
								<i class="iconfont icon-more"></i>
							</span>
                            <el-dropdown-menu slot="dropdown">
                            	<el-dropdown-item command="testConn"><i class="el-icon-connection"></i>测试连接</el-dropdown-item>
                            	<div style="height: 1px; width: 90%; background: #E4E7ED; margin-left: 5%;"></div>
                                <el-dropdown-item command="edit"><i class="el-icon-edit"></i>编辑</el-dropdown-item>
                                <el-dropdown-item command="delete" style="color: red;"><i class="el-icon-delete"></i>删除
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>

                    <div class="card" @click="addHostNode"
                         style="display: flex; cursor: pointer; justify-content: center; align-items: center">
                        <i style="font-size: 26px; margin-right: 4px;" class="el-icon-circle-plus-outline"></i>
                        添加主机节点
                    </div>
                </div>

                <transition name="el-fade-in">
                    <span v-show="loading" class="section" style="top: 14px; background-color: white;"><span
                            class="loading"></span></span>
                </transition>

            </el-scrollbar>


            <el-dialog :visible.sync="dialogVisible" width="600px" custom-class="add-host-dialog" destroy-on-close :close-on-click-modal="false"
                       :close-on-press-escape="false">
                <div slot="title" class="dialog-title">
                    <span>{{ form.oldHostName ? '编辑' : '添加' }}主机节点</span>

                </div>
                <el-form ref="form" :model="form" :rules="rules" size="small" label-width="100px"
                         style="margin: 20px 20px 20px 0;">

                    <el-row :gutter="22" style="display: flex; flex-wrap: wrap;">
                        <el-col :span="12">
                            <el-form-item label="主机IP" prop="ip">
                                <el-input v-model="form.ip" clearable style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="主机名" prop="name">
                                <el-input v-model="form.name" clearable style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="管理员用户" prop="adminUser">
                                <el-input v-model="form.adminUser" clearable style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="密码" prop="adminPswd">
                                <el-input v-model="form.adminPswd" show-password style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="平台用户" prop="sysUser">
                                <el-input v-model="form.sysUser" clearable style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="密码" prop="sysPswd">
                                <el-input v-model="form.sysPswd" show-password style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="序号" prop="seq">
                                <el-input @input="handleInputSeq" v-model="form.seq" v-limit-input-int clearable style="width: 100%"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24" style="margin-bottom: -16px;">
                            <el-form-item label="部署应用">
                                <el-select v-model="form.deployModuleNames" multiple placeholder="请选择"
                                           style="width: 100%;" @change="handleChangeDepModuleNames">
                                    <el-option v-for="(item, index) of deployModuleNames" :key="index" :value="item.name">
                                    	<img style="width: 20px; height: 20px;" :src="getSvgPathBys(item.name)"/>
                            			<span style="vertical-align: super;">&nbsp;{{ item.name }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <div slot="footer">
                	<!-- 用户只有将主机的基本信息保存起来，才可以进行连通性测试 -->
                	<span v-if="form.oldHostName">
                		<el-button icon="el-icon-connection" type="success" @click="testConnection(form.oldHostName)">测试连接</el-button>
                		<el-divider direction="vertical"></el-divider>
                	</span>

                    <el-button @click="dialogVisible=false">取 消</el-button>
                    <el-button type="primary" @click="submit" :loading="opering">{{opering ? '提交中...' : '确 定'}}
                    </el-button>
                </div>
            </el-dialog>

        </div>
    </template>
    <script>
        var HostPlan = {
            template: "#hostPlan",
            data() {
            	// 自定义校验规则
            	const validateIp = (rule, value, callback) => {
			        if (!value) {
			          callback(new Error('请输入主机IP'));
			        } else {
			        	const ipv4Pattern = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
			        	
			        	if (!ipv4Pattern.test(value)) {
			        		callback(new Error('请输入正确的IP'));
			        	} else {
			        		if (!this.form.seq || !this.useEditSeq) {
			        			this.form.seq = value.split('.')[3];
			        			// 清除seq的校验提示
								this.$refs.form.validateField('seq', () => {});
			        		}
			        		callback();
			        	}
			        }
            	};
            	
            	const validateSeq = (rule, value, callback) => {
            		if (!value) {
            			callback(new Error('请输入序号'));
            		} else {
            			if (parseInt(value) <= 0 || parseInt(value) > 255) {
            				callback(new Error('序号的取值范围是[1,255]'));
            			} else {
            				callback();
            			}
            		}
            	};

            	
                return {
                    hosts: [],

                    dialogVisible: false,
                    opering: false,
                    loading: false,
                    form: {},

                    rules: {
                    	ip: [{ required: true, validator: validateIp, trigger: 'blur'}],
                    	name: [{ required: true, message: '请输入主机名', trigger: 'blur' }],
                    	adminUser: [{ required: true, message: '请输入管理员用户', trigger: 'blur' }],
                    	adminPswd: [{ required: true, message: '请输入管理员密码', trigger: 'blur'}],
                    	sysUser: [{ required: true, message: '请输入平台用户', trigger: 'blur'}],
                    	sysPswd: [{ required: true, message: '请输入平台用户密码', trigger: 'blur'}],
                    	seq: [{ required: true, validator: validateSeq, trigger: 'blur'}]
                    },
                    
                    deployModuleNames: []

                }
            },
            props: {},
            computed: {},
            methods: {
            	
            	// 当用户自己编辑序号的时候，标识采用用户自己编辑的
            	handleInputSeq() {
            		this.useEditSeq = true;
            	},
            	
            	// 当用户点击测试连接按钮时触发
            	testConnection(hostName) {
            		axios.get('sysPlan/host/_validate', {
            			params: {
            				hostName
            			}
            		}).then(res => {
            			const { ok, msg } = res.data;
            			if (ok) {
            				this.$message.success(msg);
            			} else {
            				this.$message.error(msg);
            			}
            		}).catch(error => {
            			this.$message.error('测试连接过程服务器发生了异常，请联系管理员');
            		});
            	},
            	
            	// 当用户选择的部署模块发生变化时触发
            	handleChangeDepModuleNames() {
            		this.$nextTick(() => {
            			let vue = this;
            			$('.add-host-dialog .el-select__tags-text').each(function(index, element) {
            				
            				const name = $(element).text();
            				
            			    const src = vue.getSvgPathBys(name);
            			    
            			    $(element).html(`<img style="width: 20px; height: 20px;" src="${src}"/> <span style="vertical-align: super;"> ${name} </span>`)
            			});
            			
            		});
            	},

                // 删除指定的主机指定部署模块
                delDelDeployModules(host, moduleName) {
                    this.$confirm(`确定要删除主机${host.name}部署模块【${moduleName}】？`, '确认删除', {
                        dangerouslyUseHTMLString: true,
                        showClose: false,
                        type: 'error',
                        confirmButtonText: '删除',
                        cancelButtonClass: 'concel-right',
                        confirmButtonClass: 'el-button--danger'
                    }).then(_ => {
                        // 调用删除指定主机指定的部署模块

                        axios.delete('sysPlan/host/profile/one/module', {
                        	params: {
                        		hostName: host.name,
                        		module: moduleName
                        	}
                        }).then(_ => {
                        	this.$message.success('删除成功');
                        	this.loadHostProfileAll();
                        }).catch(error => {
                        	this.$message.error(`从${host.name}主机删除部署模块【${moduleName}】发生了异常！请联系管理员`);
                        	console.log(error);
                        });
                        
                    }).catch(_ => {
                    });
                },

                // 测试连接 | 编辑｜删除操作
                hostOper(val, host) {
                	if (val == 'testConn') {
                		this.testConnection(host.name);
                	} else if (val == 'edit') {
                        this.editHost(host);
                    } else if(val == 'delete') {
                        this.delHost(host);
                    }
                },

                // 添加主机节点
                addHostNode() {
                    this.dialogVisible = true;
                    this.form = {
                        deployModuleNames: [],
                        ip: undefined,
                        adminUser: undefined,
                        adminPswd: undefined,
                        sysUser: undefined,
                        sysPswd: undefined,
                        seq: undefined,
                        sailPyInstallerPort: undefined
                    }
                },

                // 编辑主机节点
                editHost(host) {
                    this.form = this.clone(host);
                    this.dialogVisible = true;
                    this.useEditSeq = false;
                    this.form.oldHostName = this.form.name;
                    this.handleChangeDepModuleNames();
                },

                // 删除主机节点
                delHost({name}) {
                    this.$confirm("确定要删除主机【" + name + "】？", '确认删除', {
                        dangerouslyUseHTMLString: true,
                        showClose: false,
                        type: 'error',
                        confirmButtonText: '删除',
                        cancelButtonClass: 'concel-right',
                        confirmButtonClass: 'el-button--danger'
                    }).then(_ => {
                        axios.delete('sysPlan/host/profile/one', {
                            params: {
                                hostName: name
                            }
                        }).then(res => {
                        	this.$message.success('删除成功');
                            this.loadHostProfileAll();
                        }).catch(error => {
                            console.log(error);
                            this.$message.error(`删除主机【${name}】发生了异常！请联系管理员`);
                        });
                    }).catch(error => {
                    	console.log(error);
                    });
                },
                
                addHostProfileOne() {
                	
                    axios.post('sysPlan/host/profile/one', this.form).then(res => {
                        this.opering = false;
                        this.dialogVisible = false;
                        this.loadHostProfileAll();
                        this.$message.success('成功添加主机节点【' + this.form.name + '】')
                    }).catch(error => {
                        this.opering = false;
                        console.log(error);
                        this.$message.error(`添加主机节点【${this.form.name}】发生了异常！请联系管理员`);
                    });
                },
                
                // 更新指定主机名的一个主机信息。前端需要注意，如果用户修改了主机名，需要先调用删除操作，再调用创建操作
                updateHostProfileOne() {
                	axios({
                		url: 'sysPlan/host/profile/one/_update',
                		method: 'put',
                		data: this.form,
                		params: {
                			oldHostName: this.form.oldHostName
                		}
                	}).then(res => {
                		this.dialogVisible = false;
                		this.opering = false;
                        this.loadHostProfileAll();
                        this.$message.success('修改成功');
                	}).catch(error => {
                		this.opering = false;
                        console.log(error);
                        this.$message.error(`修改主机信息发生了异常！请联系管理员`);
                	});
                },

                // 确认新增主机节点
                submit() {
                	 this.$refs.form.validate((valid) => {
                		if (valid) {
                			if (this.form.oldHostName) {
                				// 更新操作
                				this.updateHostProfileOne();
                			} else {
                				// 添加操作
                				this.addHostProfileOne();
                			}
                            this.opering = true;

                		} else {
                			return false;
                		}
                	}); 
                },

                // 加载所有主机信息
                loadHostProfileAll() {
                    this.loading = true;
                    axios.get('/sysPlan/host/profile/all').then(res => {
                        this.loading = false;
                        this.hosts = res.data;
                    }).catch(error => {
                        this.loading = false;
                        console.log(error);
                        this.$message.error('加载所有主机信息发生了异常！请联系管理员');
                    })
                },
                
                // 加载取得所有模块
                loadModuleAll() {
                	axios.get('sysPlan/module/all').then(res => {
                		this.deployModuleNames = res.data;
                	}).catch(error => {
                		console.log(error);
                		this.$message.error('加载所有的部署模块发生了异常！请联系管理员');
                	})
                }


            },
            watch: {},
            mounted() {
                
                
            },
            created() {
            	this.loadHostProfileAll();
            	this.loadModuleAll();
            }
        }
    </script>
</th:block>
</html>

