<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<!-- 程式过程 -->
<th:block th:fragment="procedure">
    <template id="procedure">

        <div class="right-pane" v-cloak style="display: flex; padding: 0px 8px 18px; flex-direction: column;">
            <div class="app-repo" style="padding-left: 10px;">
                <span class="title">{{configs.name}}</span>
                <span class="description">{{configs.description}}</span>
				<el-button type="primary" @click="procedureExec" style="margin-right: 10px;">
					<i class="iconfont icon-exec"></i> <span style="vertical-align: text-top;">执 行</span>
				</el-button>               
            </div>
            <div class="hosts bottom-line">
                <span style="color: #909399; line-height: 32px; font-size: 16px;">主&nbsp;机:</span>

                <el-popover
                        v-for="(host, index) of hosts"
                        :key="index"
                        placement="bottom"
                        ref="popovers"
                        width="500"
                        popper-class="host-info-popover"
                        trigger="click">
                        
                    <template #reference>
	                    <div>
	                       <span class="host">
	                            <i class="el-icon-monitor"></i> {{host.name}}
	                        </span>
	                        <span v-if="index !== hosts.length - 1">、</span>
	                    </div>
                    </template>

                    
					<div class="card">
                        <div class="base-info">
                            <div class="item">
                                <span class="host-name-label">主机名</span>
                                <span class="host-name">{{host.name}}</span>
                            </div>

                            <div class="item">
                                <span class="host-name-label">IP</span>
                                <span class="ip-info">{{host.ip}}</span>
                            </div>
                        </div>

                        <div style="flex: 1; padding-left: 8px;">
                            <div class="item" style="display: flex; height: 100%; flex-direction: column;">
                                <span class="dev-module-label">
                                	部署的模块
                                	<el-icon class="close-icon" @click="closePopover(index)"><Close /></el-icon>
                                </span>
                                
                                <div style="display: flex; flex-wrap: wrap; height: 100%;"
                                     class="dev-application">
                                    <el-tag v-for="(name,index) of host.deployModuleNames" :key="index">
                                        <img style="width: 20px; height: 20px;" :src="getSvgPathBys(name)"/><span
                                            style="vertical-align: super;">&nbsp;{{ name }}</span>
                                    </el-tag>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-popover>
            </div>

            <div class="sysconfig">
                <div style="flex: 4; display: flex; flex-direction: column; padding-bottom: 8px; height: 100%;">

                    <div class="title-description">操作命令</div>

                    <el-scrollbar style="flex: 1; overflow-x:hidden;">
                    	<el-checkbox-group v-model="checkCommands">
	                        <div v-for="(operation, index) of configs.operations" :key="index" 
	                        	:class="'select-operations ' + (operation.selected ? 'active' : '')"
	                        	@click="handleClickOperation(operation)">
	                            <el-checkbox @change="checkboxChange(operation, index)"  @click.native.stop name="type" :label="index"> 
	                            	<span></span>
	                            </el-checkbox>
	                            <span style="font-size: 15px; font-weight: 450;">{{index + 1}}. {{ operation.name }}</span>
	                        </div>
                        </el-checkbox-group>
                    </el-scrollbar>
                </div>

                <div class="script-description">
                    <div class="title-description" v-show="scriptName">命令【{{scriptName}}】的描述</div>
                    	<el-scrollbar style="flex: 1; overflow-x:hidden;">
                    		{{scriptDescription}}
                    	</el-scrollbar>
                </div>

            </div>

            <el-divider></el-divider>

            <div class="exce-log-area">
                <div class="title-description">运行日志</div>
                <div class="exec-log">
                 	<el-scrollbar id="content_scroll" style="flex: 1; overflow-x:hidden;">
                 		<p v-for="(data,index) of logDatas" :key="index">{{data.message}}</p>
                 	</el-scrollbar>
                </div>
            </div>

        </div>

    </template>
    <script>
        const Procedure = {
            template: "#procedure",
            
            props: {
                configs: {
                    type: Object,
                    required: true
                }
            },
            
            setup(props) {
            	            	
            	const { proxy } = getCurrentInstance();
            	
            	const data = reactive({
                    hosts: [],
                    scriptName: '',
                    scriptDescription: '',
                    checkCommands: [],
                    logDatas: [],
                    popovers: []
            	});
            	
            	const closePopover = index => {
            		data.popovers[index].hide()
            	}
            	
            	// 复选框勾选状态发生变化触发
            	const checkboxChange = (operation, index) => {
            		// 是否启用了该命令
            		const enabled = data.checkCommands.findIndex(key => key == index) > -1
            		operation.enabled = enabled;
            		
            		axios({
            			url: 'procedure/one/operation/enabled',
            			method: 'post',
            			params: {
            				procedureFileName: props.configs.name,
            				operationName: operation.name,
            				enabled
            			}
            		}).then(_ => {
            			
            		}).catch(error => {
            			console.error(error);
            			proxy.error(`${enabled ? '启用' : '禁用'}命令【${operationName}】发生了异常！请联系管理员`);
            		});
            	}
            	
            	// 加载执行日志
            	const loadExecLog = (seq = 0) => {
            		axios.get('procedure/one/execLog/many', {
            			params: {
            				procedureFileName: props.configs.name,
            				seq
            			}
            		}).then(res => {
            			data.logDatas.push(...res.data.data);
                        let wrap = $('#content_scroll')[0];
                        wrap.scrollTop = wrap.scrollHeight;
            			if (res.data.taskFinished){
            				return;
            			}
            			setTimeout(() => {
            				loadExecLog(res.data.endSeq);
            			}, 1000);
            			
            		}).catch(error => {
            			console.error(error);
            			proxy.error('加载执行日志过程中发生了异常！请联系管理员');
            		});
            	}
            	
            	const procedureExec = () => {
            		axios({
            			url: 'procedure/one/_exec',
            			method: 'post',
            			params: {
            				procedureFileName: props.configs.name
            			}
            		}).then(res => {
            			proxy.success('执行成功');
            			setTimeout(() => {
            				loadExecLog();
            			}, 1000);
            			
            		}).catch(error => {
            			console.error(error);
            			proxy.error('执行命令发生了异常！请联系管理员');
            		});
            	}
            	
            	// 当用户点击操作命令时
            	const handleClickOperation = operation => {
            		data.scriptName = operation.name;
            		data.scriptDescription = operation.description;
            		
            		props.configs.operations.forEach(curOp => {
            			curOp.selected = false;
            		});
            		
            		operation.selected = true;
            	}
            	
                // 加载所有主机信息
                const loadHostProfileAll = () => {
                    axios.get('/sysPlan/host/profile/all').then(res => {
                        const hosts = res.data;
                        const {modules} = props.configs;						                      
                        // 部署的模块
                        if (modules.findIndex(module => module.trim().toLowerCase() === 'all') > -1) {
                            data.hosts = hosts;
                        } else {
                            const names = new Set();
                            // 部署模块与主机的映射
                            const moduleMap = {};
                            const nameHostMap = {};
                            hosts.forEach(host => {
                                host.deployModuleNames.forEach(moduleName => {
                                    if (moduleMap[moduleName]) {
                                        moduleMap[moduleName].add(host.name);
                                    } else {
                                        moduleMap[moduleName] = new Set([host.name]);
                                    }
                                });
                                
                                nameHostMap[host.name] = host;
                            });

                            modules.forEach(moduleName => {
                                if (moduleMap[moduleName]) {
                                    moduleMap[moduleName].forEach(name => names.add(name));
                                }
                            });
                            
                            const requiredHosts = [];
                            
                            // 根据名称查找对应的主机信息
                            names.forEach(name => {
                            	requiredHosts.push(nameHostMap[name]);
                            });
                            
                            data.hosts = requiredHosts;
                        }
                    }).catch(error => {
                        console.error(error);
                        proxy.error('加载所有主机信息过程中发生了异常！请联系管理员');
                    });
                }
                
                
                const setCheckCommands = () => {
                	const { operations } = props.configs;
                	                	
                	const checkCommands = [];
                	
                	for (let i = 0; i < operations.length; i ++) {
                		if (operations[i].enabled) {
                			checkCommands.push(i);
                		}
                	}
                	data.checkCommands = checkCommands;
                }
                
                const reset = () => {
                	data.scriptName = '';
                	data.scriptDescription = '';
                	data.logDatas = [];
                }
                
                // 加载页面 默认选中第一行
                const selectedOne = () => {
                	const { operations } =  props.configs;
                	if (operations.length != 0)  {
                		handleClickOperation(operations[0], 0);
                	}
                }
                
                onMounted(() => {
                	selectedOne();
                });
                
                loadHostProfileAll();
                setCheckCommands();
                
                watch(() => props.configs, () => {
                	loadHostProfileAll();
                	setCheckCommands();
                	reset();
                	selectedOne();
                });
            	
            	return {
            		...toRefs(data),
            		closePopover,
            		procedureExec,
            		handleClickOperation,
            		checkboxChange
            	}
            },
        }
    </script>
</th:block>
</html>

