@font-face {
  font-family: "icon"; /* Project id 2784097 */
  src: url('iconfont.woff2?t=1734395264813') format('woff2'),
       url('iconfont.woff?t=1734395264813') format('woff'),
       url('iconfont.ttf?t=1734395264813') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuzhiDataOrganization9:before {
  content: "\e755";
}

.icon-jinggao:before {
  content: "\e643";
}

.icon-jinggao1:before {
  content: "\e6aa";
}

.icon-fuzhi:before {
  content: "\e62d";
}

.icon-logout:before {
  content: "\e63a";
}

.icon-jiantou-you:before {
  content: "\e60a";
}

.icon-quxiaoshouquan:before {
  content: "\e6c6";
}

.icon-yushe:before {
  content: "\e608";
}

.icon-zidingyi:before {
  content: "\e609";
}

.icon-zikongjian:before {
  content: "\e66c";
}

.icon-api:before {
  content: "\e6e3";
}

.icon-icon_shouquan:before {
  content: "\e654";
}

.icon-jinxingzhong:before {
  content: "\e618";
}

.icon-chongzhimima:before {
  content: "\e653";
}

.icon-guolv:before {
  content: "\e607";
}

.icon-yichu:before {
  content: "\e658";
}

.icon-putongyonghu:before {
  content: "\e9a9";
}

.icon-chaojiguanliyuan:before {
  content: "\e676";
}

.icon-guanliyuan:before {
  content: "\e632";
}

.icon-zuzhijiagou:before {
  content: "\e606";
}

.icon-bianji:before {
  content: "\e6ec";
}

.icon-xianshi:before {
  content: "\e73b";
}

.icon-yincang:before {
  content: "\e73c";
}

.icon-shanchu:before {
  content: "\e623";
}

.icon-jinyong:before {
  content: "\e63d";
}

.icon-qiyong:before {
  content: "\e63f";
}

.icon-oauth-center-o:before {
  content: "\e605";
}

.icon-miyue:before {
  content: "\e601";
}

.icon-tianjiayingyong:before {
  content: "\e604";
}

.icon-gongsi:before {
  content: "\e617";
}

.icon-miaoshu:before {
  content: "\e717";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-xinjianyonghu:before {
  content: "\e62a";
}

.icon-bangdingzhanghao:before {
  content: "\e600";
}

.icon-wodezhanghao:before {
  content: "\e622";
}

.icon-wodeyingyong:before {
  content: "\e844";
}

.icon-jibenxinxi:before {
  content: "\e631";
}

.icon-yonghuqueren:before {
  content: "\e669";
}

.icon-quanxian:before {
  content: "\e614";
}

.icon-yonghu-tongguo:before {
  content: "\e80f";
}

.icon-yonghuquanxian:before {
  content: "\e616";
}

.icon-kejianyonghu:before {
  content: "\e72f";
}

.icon-role:before {
  content: "\e602";
}

.icon-shouye:before {
  content: "\e613";
}

.icon-yonghu:before {
  content: "\e61c";
}

.icon-yingyong:before {
  content: "\e603";
}

.icon-qr-code:before {
  content: "\e642";
}

.icon-oauth-center:before {
  content: "\e6c9";
}

