<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  th:fragment="layout(head,content,components,script)">
<head  th:fragment="includes">
<link th:href="@{/3rds/element-ui/index.css}" rel="stylesheet" type="text/css">
<link th:href="@{/3rds/iconfont/font.css}" rel="stylesheet" type="text/css">
<script type="text/javascript"  th:src="@{/js/es6-promise.auto.js}"></script>
<script type="text/javascript"  th:src="@{/js/q.js}"></script>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<script type="text/javascript"  th:src="@{/3rds/vue/vue.js}"></script>
<script type="text/javascript"  th:src="@{/3rds/vue/vuex.js}"></script>
<script type="text/javascript"  th:src="@{/3rds/vue/axios.min.js}"></script>
<script type="text/javascript"  th:src="@{/3rds/element-ui/index.js}"></script>
<script type="text/javascript"  th:src="@{/js/common.js}"></script>
</head>
</html>