<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(head,content,components,script)">
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<th:block th:include="decorators/incHeader::includes" />
<th:block th:include="${head}" />
<!-- <link rel="icon" th:href="@{./favicon.ico}" type="image/x-icon"> -->
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" title="main">
<link th:href="@{/3rds/iconfont/icon/iconfont.css}" rel="stylesheet" type="text/css" title="main">
</head>
<body>
	<div id="app">
		<div class="app-wrapper" v-cloak>
			<div class="top-header"><i style="margin-right: 4px; font-size: 20px;" class="iconfont icon-tadiao-1_crane-1-fill"></i>平台安装工具</div>
			<div class="main-container">
               <div th:replace="${content}"></div>
			</div>
		</div>
	</div>
	<th:block th:include="${components}?: ~{}" />
	
	<th:block th:insert="${script}?: ~{}" />
  
	<script type="text/javascript" th:inline="javascript">		
		const storeOpts = {
			state: {
				csrf: {
					enable: /*[(${_csrf != null})]*/ false,
					value: /*[[${_csrf != null?_csrf.token: ''}]]*/ ""
				}
			},
			modules: {}
		};
		const store = new Vuex.Store($.extend(true, {}, storeOpts, typeof exStoreOpts == 'undefined' ? {} : exStoreOpts));
		const vueOpts = {
			data() {
				return {
					theme: /*[[${theme}]]*/ "default",
					activeMenu: /*[[${session.ACTIVE_MENU}]]*/ 'home',
				}
			},
			
			
			computed: {
				...Vuex.mapState({
					csrfEnable: state => state.csrf.enable,
					csrfValue: state => state.csrf.value
				}),
				csrfPair() {
					return this.csrfEnable ? { "_csrf": this.csrfValue } : {};
				},
			},
			methods: {

			},
			mounted: function(){
				let activeMenu =  /*[[${session.ACTIVE_MENU}]]*/ 'home';
				$('#' + activeMenu).addClass('active');				
		    },

			beforeCreate() {
			},

		    created() {

		    },
		};
		const app = Vue.createApp($.extend(true, {}, typeof exVueOpts == 'undefined' ? {} : exVueOpts));
		app.mixin(vueOpts).use(store).use(ElementPlus, { locale: ElementPlusLocaleZhCn });
		for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
		  	app.component(key, component)
		}
		
		app.directive('LimitInputInt', {
			mounted(el) {
				const inputEl = el.querySelector('input');
				inputEl.oninput = () => {
					inputEl.value = inputEl.value.trim(); // 去除前后空格
					inputEl.value = inputEl.value.replace(/[^\d]/g, ''); // 只保留数字
					inputEl.value = inputEl.value.replace(/^0\d+/g, '0'); // 开头不能是多个0
				} 
			}
		});
		
		// 只允许输入数字与小数点
		app.directive('LimitInputNumber', {
			mounted(el) {
				const inputEl = el.querySelector('input');
				inputEl.oninput = () => {
					inputEl.value = inputEl.value.trim(); // 去除前后空格
					inputEl.value = inputEl.value.replace(/[^\d.]/g, ''); // 只保留数字和小数点
					inputEl.value = inputEl.value.replace(/^\./g, ''); // 开头不能是小数点
					inputEl.value = inputEl.value.replace(/\.{2,}/g, '.'); // 多个小数点合并成一个
					inputEl.value = inputEl.value.replace('.', '$#$').replace(/\./g, '').replace('$#$', '.'); // 只允许一个小数点
					inputEl.value = inputEl.value.replace(/^0\d+/g, '0'); // 开头不能是多个0
				}
			}
		});
		
	</script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript">
		app.mount('#app');
	</script>
</body>

</html>