<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:xweb="http://www.thymeleaf.org/extras/xweb"
      th:replace="decorators/main::layout(~{::head},~{::.content},~{::components},~{::.script})">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <title>平台安装工具</title>
</head>
<body>


<div class="content" v-cloak>
    <div class="ope-step menu-pane">
        <el-scrollbar style="width: 100%; height: 0px; flex: 1; overflow-x: hidden;">
            <el-menu class="oper-menu" :collapse-transition="false" :default-openeds="defaultOpeneds" size="mini"
                     @select="menuSelect" style="min-height: 100%;" :default-active="activeMenu">

                <el-sub-menu index="sys_plan">
                    <template #title>
                        <i class="iconfont icon-sys-plan"></i>
                        <span>系统规划</span>
                    </template>
                    <el-menu-item index="app-ware"><i class="iconfont icon-app-store"></i> 应用仓库</el-menu-item>
                    <el-menu-item index="host-plan"><i class="iconfont icon-taskman"></i> 主机规划</el-menu-item>
                    <el-menu-item index="sys-param"><i class="iconfont icon-param"></i> 系统参数</el-menu-item>
                </el-sub-menu>
                
                <el-sub-menu v-for="(submenus, key) in procedures" :key="key" :index="key">
                    <template #title>
                    	<el-tooltip v-if="key.length > 14" effect="light" :content="key" placement="right">
                    		<div style="width: 100%;"><i class="iconfont icon-Folder-09"></i> <span>{{menuName(key)}}</span></div>
                    	</el-tooltip>
                    	<span v-else> <i class="iconfont icon-Folder-09"></i> {{ key }}</span>
                    </template>
                    <el-menu-item v-for="(submenu,index) of submenus " :key="submenu.name" :index="submenu.name">
                    	
                    	<el-tooltip v-if="submenu.name.length > 14" effect="light" :content="submenu.name" placement="right">
                    		<div style="width: 100%;"><span><i class="iconfont icon-script"></i> {{  menuName(submenu.name) }}</span></div>
                    	</el-tooltip>
                    	<span v-else> <i class="iconfont icon-script"></i> {{ submenu.name }}</span>
                    </el-menu-item>
                </el-sub-menu>
            </el-menu>
        </el-scrollbar>
    </div>

    <component :is="showComponent" :configs="configs"></component>

</div>

<components>
    <th:block th:insert="components/hostPlan::hostPlan"/>
    <th:block th:insert="components/appWare::appWare"/>
    <th:block th:insert="components/sysparam::sysparam"/>
    <th:block th:insert="components/procedure::procedure"/>
</components>

<script class="script" th:inline="javascript">

	const { reactive, ref, computed, toRefs, getCurrentInstance, onMounted,
			nextTick, watch } = Vue;

    const exVueOpts = {
    		
    	setup() {
    		const { proxy } = getCurrentInstance();
    		let data = reactive({
                activeMenu: 'app-ware',
                procedures: {},
                defaultOpeneds: ['sys_plan'],
                menuIndex: ['app-ware', 'host-plan', 'sys-param'],
                configs: {}
    		});
    		
    		data.isProcedure = computed(() => {
    			return data.menuIndex.findIndex(index => data.activeMenu === index) === -1;
    		});
    		
    		data.showComponent = computed(() => {
    			 return data.isProcedure ? 'procedure' : data.activeMenu;
    		});
    		
    		
    		const menuName = name => {
				if(name.length > 14)
					return name.substring(0, 5) + ' ... ' + name.substring(name.length - 8);
				return name;
    		};
    		
    		const menuSelect = (key, indexPath) => {
    			    			
            	const [firstLevelMenu, secondLevelMenu] = indexPath;
                data.activeMenu = key;
                proxy.urlPush('active', key);
                proxy.urlPush('parent', firstLevelMenu);
              	
	      		if (data.isProcedure) {
	               // 程式过程菜单项配置信息
	               const index = data.procedures[firstLevelMenu].findIndex(submenu => submenu.name === secondLevelMenu);
	               if (index > -1) {
	               		data.configs = data.procedures[firstLevelMenu][index];	
	               }                	
	            }
    		};
    		
            // 加载所有程式过程
            const loadProcedureAll = () => {
                axios.get('procedure/all/grouped').then(res => {
                    data.procedures = res.data;
                    const {active, parent} = proxy.urlParams();
                    if (active && parent) {
                    	menuSelect(active, [parent, active]);
                    }
                }).catch(error => {
                    console.error(error);
                });
            };
            
            onMounted(() => {
            	loadProcedureAll();
            });
    		
    		return {
    			...toRefs(data),
    			menuName,
    			menuSelect	
    		}
    	},
    	

        components: {
            HostPlan,
            AppWare,
            SysParam,
            Procedure
        }
    }

</script>
</body>
</html>