<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>404</title>
<link th:href="@{/public/error/404.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="content wscn-http404-container" v-cloak>
    <div class="wscn-http404">
      <div class="pic-404">
        <img class="pic-404__parent" th:src="@{/public/error/404.png}" alt="404">
        <img class="pic-404__child left" th:src="@{/public/error/404_cloud.png}" alt="404">
        <img class="pic-404__child mid" th:src="@{/public/error/404_cloud.png}" alt="404">
        <img class="pic-404__child right" th:src="@{/public/error/404_cloud.png}" alt="404">
      </div>
      <div class="bullshit">
        <div class="bullshit__oops">糟糕!</div>
        <div class="bullshit__info">[[${exception}]]
          <span style="color:#20a0ff" >[[${url}]]</span>
        </div>
		<div class="bullshit__info">[[${msg}]]</div>
        <div class="bullshit__headline">此页面不存在...</div>
        <a th:href="@{/}" class="bullshit__return-home">回到首页</a>
      </div>
    </div>
  </div>
 <script >
 var exVueOpts = {
		 data: {
			 activeMenu: '2-2'
		 },
		  computed: {
		    curPath(){
		    	return window.location.href;
		    }
		  }
		};
</script>
</body>
</html>